.GameAddition-title {
    background-color: rgb(54, 203, 230);
    color: white;
    width: 100vw;
    margin: 0;
    margin-bottom: 30px;
}

.GameAddition-problem {
    font-size: 50px;
    margin: 30px;
}

.GameAddition-answer {
    margin: 30px;
    font-size: 30px;
    background-color: white;
}

.GameAddition-numberPad {
    margin: 0;
    margin-bottom: 30px;
}

.GameAddition-numberPad button {
    margin: 2px;
    /* padding: 0.5em 1em; */
    text-decoration: none;
    background: rgb(54, 203, 230);
    color: #FFF;
    border: none;
    width: 23%;
    font-size: 40px;
    height: 50px;
  }


.GameAddition-control button {
    margin: 2px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: gray;
    width: 40%;
    color: #FFF;
    border: none;
    font-size: 20px;
  }

.GameAddition-control button.submit {
    background: #f58d51;
  }


.GameAddition-answerResult {
    margin: 0px;
    padding: 5px;
    background-color: white;
    border-top: solid 1px rgb(46, 226, 136);
    border-bottom: solid 1px rgb(46, 226, 136);
    height: 20px;
    line-height: 20px;
}

.GameAddition-answerResult .playerName {
    font-weight: bold;
}