.PlayerScoreList {
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.PlayerScoreList .player span {
    display: inline-block;
    margin-right: 5px;
}

.PlayerScoreList .player span.name {
    font-weight: bold;
}