<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
</head>

<body>
    <h1>Hello world</h1>

    <script>
        const url = "ws://127.0.0.1:8000/ws"
        const connection = new WebSocket(url)
        connection.addEventListener("message", ev => {
            console.log(ev.data)
        })
        connection.addEventListener("open", ev => {
            connection.send(JSON.stringify({
                "type": "JOIN",
                "payload": {}
            }))
        })
    </script>
</body>

</html>